<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlc.managetool_3">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LookActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/title_activity_look" />
        <activity
            android:name=".DatabaseView"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/title_activity_database_view" />
        <activity
            android:name=".EditView"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/title_activity_edit_view" />
        <activity
            android:name=".BorrowListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/title_activity_borrow_list" />
        <activity
            android:name=".ConfirmBack"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/title_activity_confirm_back" />
        <activity
            android:name=".ConfirmSelect"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/title_activity_confirm_select" />

    </application>

</manifest>